/* Increase spacing before section titles on about page */
.post-content h2 {
  margin-top: 3rem;   /* space ABOVE the title */
  margin-bottom: 1.5rem; /* space BELOW the title */
}


#reviewers .list-group-name,
#reviewers .list-group-name b {
  font-size: 1rem;
}
