---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill",
  "cv",
  "tabs",
  "typograms",
  "font-awesome/fontawesome",
  "font-awesome/brands",
  "font-awesome/solid",
  "font-awesome/regular",
  "tabler-icons/tabler-icons.scss",
  "tabler-icons/tabler-icons-filled.scss",
  "tabler-icons/tabler-icons-outline.scss"
;

.page h2.presentations-section {
  text-align: center;
  color: var(--global-theme-color) !important;
  margin-top: 2.2rem;
  margin-bottom: 1.4rem;
  font-weight: 500;
}
