<ul class="card-text font-weight-light list-group list-group-flush">
  {% assign memberships = data[1] %}
  {% for m in memberships %}
    <li class="list-group-item">
      <div class="row align-items-center">

        <!-- Logo -->
        <div class="col-xs-3 col-sm-3 col-md-2 text-center">
          {% if m.logo %}
            <img
              src="{{ m.logo | prepend: '/assets/img/' | relative_url }}"
              alt="{{ m.society }}"
              style="max-height: 60px; max-width: 60px;"
            >
          {% endif %}
        </div>

        <!-- Text -->
        <div class="col-xs-9 col-sm-9 col-md-10">
          <h6 class="mb-0" style="font-size: 1.0rem;">
            <span style="color: #B509AC; font-weight: 600;">
              {{ m.level }},
            </span>
            {{ m.society | replace: 'Member of ', '' }}
          </h6>
        </div>

      </div>
    </li>
  {% endfor %}
</ul>
