<div class="card-text font-weight-light">

  {% assign reviewers = data[1] %}

  {% for section in reviewers %}
    <div class="mb-4">

      <!-- Section title -->
      <h5 class="font-weight-bold mb-2" style="color:#9c27b0;">
        <i class="{{ section.icon }}"></i>
        {{ section.name }}
      </h5>

      <!-- Keywords list -->
      <ul class="list-unstyled ml-3">
        {% for item in section.keywords %}
          <li class="mb-1">
            {{ item }}
          </li>
        {% endfor %}
      </ul>

    </div>
  {% endfor %}

</div>
